<div class="container">
    <div class="row">
        {{!-- if no articles are scraped display this div showing button to scrape and a message --}}
        <div class="col s12" id="defaultDisplay">
            <h4>Oops looks like you don't have anything to read!</h4>
            <p>To fix that, click the Scrape button to get started</p>
            <a class="waves-effect waves-light btn scrape">Scrape</a>
        </div>
    </div>
</div>